[Unit]
Description={{ container_name }} podman container
After=network.target

[Service]
Type=forking
TimeoutStartSec={{ systemd_timeoutstartsec }}
ExecStartPre=-/usr/bin/podman pod rm -f {{ container_name }}
{% if container_run_as_user == 'root' %}
User={{ container_run_as_user }}
{% endif %}
RemainAfterExit=yes
ExecStart=/usr/bin/podman play kube {{ container_pod_yaml }}
ExecReload=-/usr/bin/podman pod stop {{ container_name }}
ExecReload=-/usr/bin/podman pod rm -f {{ container_name }}
ExecStop=-/usr/bin/podman pod rm -f {{ container_name }}
Restart={{ container_restart }}
RestartSec={{ systemd_restartsec }}
Environment=PODMAN_SYSTEMD_UNIT=%n

[Install]
{% if container_run_as_user == 'root' %}
WantedBy=multi-user.target
{% else %}
WantedBy=default.target
{% endif %}
